<form #f="ngForm" (ngSubmit)="submit(f)">
    <div  ngModelGroup="Contact" #contact="ngModelGroup">
      
    <div>
        <div class="form-group gap-3 p-5">
           <h1 style="margin:40px">This is NgModel</h1>
            <label for="firstName">FirstName</label>
            <input id="firstName" minlength="3" required name="firstName" ngModel #firstName="ngModel"
                (keyup)="log(firstName,$event)" type="text" class="form-control">
            <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
                <div *ngIf="firstName.errors.required">First Name is required</div>
                <div *ngIf="firstName.errors.minlength">length should be greater than 3 </div>
            </div>

        </div>
        <div class="form-group">
            <label for="comment">Comment</label>
            <textarea name="" class="form-control" ngModel #comment="ngModel" id="comment" name="comment" cols="30" rows="10">

        </textarea>
        <div class="checkbox"><label for="">
            <input type="checkbox" ngModel name="!isSubscribed">Subscribe to mailing list
        </label>
         </div>

         <div class="form-group">
             <label for="contactMethod"></label>
             <select  multiple ngModel name="contactMethod" id="contactMethod" class="form-control">
               <option *ngFor="let method of contactMethods" value={{method.id}} >{{method.name}}</option>

             </select>
            </div>
         <p>
             {{f.value  | json}}
         </p>
            <button class="btn-primary" [disabled]="!f.valid">
            Submit
            </button>
        </div>
    </div>
</div>
</form>

